.lista-suspenca {
    margin: 24px 0 ;
}

.lista-suspenca  label{
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

.lista-suspenca  select{
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);

    box-sizing: border-box;
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
}